@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root.dark {
  --background: #0f172a;
  --foreground: #f1f5f9;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background 0.3s, color 0.3s;
}

/* Enable dark mode via class */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  :root.dark {
    --background: #0f172a;
    --foreground: #f1f5f9;
  }
}
